/* Default styles for all screen sizes */

/* Styles for mobile */
@media (max-width: 480px) {
    /* CSS rules specific to mobile devices */
  }
  
  /* Styles for tablets */
  @media (min-width: 481px) and (max-width: 768px) {
    /* CSS rules specific to tablets */
  }
  
  /* Styles for desktop */
  @media (min-width: 769px) {
    /* CSS rules specific to desktops */
  }  
body{
    text-align: center;
}
input[type=text] {
    width: 50%;
    padding: 10px 10px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px black;
  }
.red-button {
    background-color: rgb(229, 13, 13);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor:  pointer;

}
.red-button:hover{
    background-color: rgb(113, 22, 22);

}