/* Default styles for all screen sizes */

/* Styles for mobile */
@media (max-width: 480px) {
    /* CSS rules specific to mobile devices */
  }
  
  /* Styles for tablets */
  @media (min-width: 481px) and (max-width: 768px) {
    /* CSS rules specific to tablets */
  }
  
  /* Styles for desktop */
  @media (min-width: 769px) {
    /* CSS rules specific to desktops */
  }  

  a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #FF6565;
}
#Header{
    text-align: left;
}
body{
    text-align: center;
    max-width: 1000px;

}

.OurResult{
    background-image: url("headphones_hero_2.jpg");
    background-size: stretch;
    background-position: stretch;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    height: fit-content;
}

.Backgroungcontainer{
    
    background-image: url("headphones_hero_1.jpg");
    background-size: fit-content;
    background-position: max-content;
    background-repeat: no-repeat;
    color: white;
    width: auto;
    height: fit-content;
    
}
.footer{
    background-image: url("headphones_hero_2.jpg");
    background-position: 1000rem;
}
.what-we-do{
    color: black;

}
.contact{
    color: black;
}

.navbar-menu{
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    list-style-type: none;
}
  
.navbar-menu li {
    display: inline-block;
    margin-left: 10px;
}
 
.navbar-menu li:first-child {
    margin-left: 0;
}

.red-button {
    background-color: rgb(229, 13, 13);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor:  pointer;

  }
  .red-button:hover{
    opacity: 0.9;

  } 
div{
    display: inline-block;
    justify-content: space-evenly;
    
}
.holberton_school-icon-ic_hearing:before {
    content: "\e909";
    color: red;
  }

input[type=text] {
    width: 50%;
    padding: 10px 10px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px black;
  }
